.biodata td {
	border-bottom: 1px solid black
}
.biodata tr .profile {
	border-bottom: none;
}
.table1 tr th{
    background-color: #284367; 
    color:white
}
.table1 tr,th{
    text-align:left;
}
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}